html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root { 
  height: 1vh;
  /* margin-top: 2px; */
  margin-left:50px;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  /* display: flex;
  justify-content: center;

  height: 100vh;
  align-items: center; */
  /* background-color: #268ce0; */
  background-color:white;
  float:left;
  text-align:center;
  width:600px;
  margin-left:30px;
  /* text-align: center;
  align-items: center;  */
}

.joinInnerContainer {
  width: 45%;
  margin-left: 60px;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color:#2979FF;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 10px solid #2979FF;;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}